.main_header {
	position: fixed;
	top: 0;
	left: 0; right: 0;
	z-index: 1001;
	font-size: 69%;
	color: $color_main_orange;
	text-align: center;
	text-transform: uppercase;
	background-color: #fff;
	&:after {
		content: '';
		display: block;
		width: 100%;
		clear: both;
	}
	a {
		color: inherit;
		text-decoration: none;
		&:hover,
		&.w--current {
			color: $bg_main_blue;
		}
	}
}

.logo,
.main_nav,
.language_selector,
.search {
	vertical-align: middle;
	line-height: 60px;
}

.logo {
	position: relative;
	float: left;
	z-index: 1;
	padding-left: 25px;
}

.main_nav_toggle {
	display: none;
	width: 36px;
	height: 60px;
	margin: 0 auto;
	line-height: 60px;
}

.hamurger {
	position: relative;
	cursor: pointer;
	span {
		position: absolute;
		left: 0; right: 0;
		top: 50%;
		height: 3px;
		background-color: $color_main_orange;
		@include transition(all 0.35s ease 0s);
		&:before,
		&:after {
			content: '';
			position: relative;
			display: block;
			height: 100%;
			background-color: $color_main_orange;
			@include transition(all 0.35s ease 0s);
		}
		&:before { bottom: 10px; }
		&:after { top: 8px; }
	}
	&.cross span {
		background: transparent;
		@include transform(scale(0.2));
		&:before {
			bottom: 0;
			@include transform(rotate(-225deg) scale(5));
		}
		&:after {
			top: -100%;
			@include transform(rotate(225deg) scale(5));
		}
	}
}


.main_nav {
	li {
		@extend %inline-block;
		position: relative;
		a {
			display: block;
			margin: 0 15px;
		}
		&:hover > ul { display: block; }
	}
	ul ul {
		position: absolute;
		display: none;
		top: 100%;
		left: 0; right: 0;
		text-align: left;
		background-color: $bg_main_blue;
		li { display: block; }
		a {
			padding: 0 10px;
			margin: 0;
			color: #fff;
			font-size: 88.888%;
			line-height: 330%;
			&:hover {
				color: #fff;
				background-color: rgba(255, 255, 255, 0.2);
			}
		}
	}
} 

.language_selector {
	position: relative;
	float: right;
	min-width: 64px;
	margin-right: 60px;
	text-align: center;
	ul {
		position: absolute;
		z-index: 1;
		display: none;
		left: 0; right: 0;
		top: 100%;
		li {
			border: 2px solid #fff;
			margin: 10px 0;
			@include transition(all 0.2s);
			&:hover {
				@include transform(rotate(45deg));
				a { @include transform(rotate(-45deg)); }
			}
		}
	}
	a {
		display: block;
		@include transition(all 0.2s);
	}
}

.search {
	position: absolute;
	left: 0;
	right: 0;
	top: -60px;
	@include transition(all 0.2s);
	&.opened {
		top: 0;
		.header_search_btn {
			top: 0;
		}
	}
}

.header_search_form {
	width: 100%;
	text-align: right;
	.close_btn,
	button,
	input {
		float: right;
		font-size: 300%;
		vertical-align: middle;
	}
	.close_btn,
	button {
		position: absolute;
		z-index: 3;
		right: 0;
		width: 60px;
		line-height: 60px;
		text-align: center;
	}
	input {
		position: relative;
		z-index: 2;
		width: 100%;
		height: 60px;
		padding-right: 120px;
		border-color: $bg_main_gray;
		line-height: 50px;
		background-color: #fff;
	}
	.close_btn { right: 0; }
	button { right: 60px; }
	
	button {
		background-color: transparent;
		border: 0;
		color: $color_main_orange;
		cursor: pointer;
	}

	.close_btn {
		&:after {
			content: 'x';
		}

		&:hover { color: $bg_main_blue !important; }
	}
}
.header_search_btn {
	position: absolute;
	right: 0;
	top: 100%;
	width: 60px;
	text-align: center;
	margin-top: 0;
	font-size: 300%;
	vertical-align: middle;
	@include transition(all 0.2s);
}

@media #{$medium-only} {
	.main_header {
		position: fixed !important;
		border-bottom: 1px solid $bg_main_gray;
		background-color: #fff !important;
	}
	.main_nav_toggle {
		display: block;
	}
	.main_nav {
		position: absolute;
		overflow: auto;
		left: 0; right: 0;
		top: -999px;
		width: auto;
		margin-top: 1px;
		background-color: #fff;
		@include opacity(0);
		@include transition(all 0.2s);
		li,
		li a {
			display: block;
			margin: 0;
		}
		li a {
			border-bottom: 1px solid $bg_main_gray;
			color: $color_main_orange !important;
			font-size: 128.5%;;
			&:hover { color: #fff !important; }
		}
		&.opened {
			display: block;
			top: 100%;
			@include opacity(1);
		}
	}
}

@media #{$small-only} {
	.main_header {
		position: fixed !important;
		border-bottom: 1px solid $bg_main_gray;
		background-color: #fff !important;
	}
	.main_nav_toggle {
		display: block;
	}
	.main_nav {
		position: absolute;
		overflow: auto;
		left: 0; right: 0;
		top: -999px;
		width: auto;
		margin-top: 1px;
		background-color: #fff;
		@include opacity(0);
		@include transition(all 0.2s);
		li,
		li a {
			display: block;
			margin: 0;
		}
		li a {
			border-bottom: 1px solid $bg_main_gray;
			color: $color_main_orange !important;
			font-size: 128.5%;;
			&:hover { color: $bg_main_blue !important; }
		}
		&.opened {
			display: block;
			top: 100%;
			@include opacity(1);
		}
	}
}

/* Fixes for mobile version */
@media (max-width: 1024px) {
	.main_nav ul ul {
		position: relative;
		display: block;

		a {
			text-align: center;
			background-color: #eef;
			font-size: 128.5%;
		}
	}

	.slick-slider {
		margin-top: 50px;
	}

	.button.wave {
		margin-top: 0;
	}
}