@media print {
	
	.p_title {
		font-size: 24px !important;
		line-height: 28px !important;
	}

	.table_type_1 {
		width: 100%;
		line-height: 25px;
		td, th {
			&:first-child{
				padding-left: 10px;
			}
		}
		
		th {
			padding-top: 10px;
		}
	}

	.table_type_2 {
		width: 100%;
		font-size: 14px;
		&.width_rowspan {
			tr:nth-child(2n-1) td,
			td:first-child {
				border-bottom: 1px solid;
			}
		}
		&.widthout_rowspan tr td {
			border-bottom: 1px solid;
			line-height: 18px;
		}
		td, th {
			padding: 5px !important;
			overflow: hidden;
		}
		td {
			border-right: 1px solid;
			&:first-child {
				padding: 0;
				border-bottom: 1px solid;
			}
			&:last-child {
				border-right: 0;
			}
		}
		th {
			padding-top: 30px;
			border-top: 2px solid;
			border-bottom: 2px solid;
			border-right: 1px solid;
			line-height: 300%;
			text-align: left;
			&:last-child {
				border-right: 0;
			}
		}
	}
}