.p_catalogue .row {
	max-width: 1400px;
}

.catalogue {
	@extend %section_padding;
}

.type_selector {
	@extend %section_padding_bottom;
	text-align: center;
	.color { display: inline-block; }
	.white { display: none; }
	.active {
		.color { display: none; }
		.white { display: inline-block;}
	}
	a {
		display: block;
		padding: 0 25px;
		line-height: 84px;
		background: $color_main_orange;
		// &.active { background: $bg_main_blue; }
		&:hover {
			@include transition(background 0.3s ease 0s);
			background: $bg_main_blue;

			.color { display: none; }
			.white { display: inline-block;}
		}
	}
}

.products_list {
	ul { margin: 0 -1%; }
	.product {
		display: inline-block;
		width: 18%;
		margin: 0 1% 5%;
		vertical-align: top;
	}
	.product_image {
		position: relative;
		line-height: 264px;
		text-align: center;
		background-color: #fff;
		@extend %zoom;
	}
	.zoom {
		position: absolute;
		display: none;
		left: 0; right: 0;
		top: 0; bottom: 0;
		text-align: center;
		background-image:url(../img/layout.png);
		cursor: pointer;
	}
	.size {
		line-height: 1;
		position: absolute;
		left: 10px;
		bottom: 10px;
	}
	.product_name {
		font-size: 133.333%;
		font-weight: 400;
	}
	.product_description {
		font-size: 88.889%;
		font-weight: 400;
	}
}

.p_catalogue {
	#fancybox-wrap {
		padding: 50px;
		border: 2px solid $bg_main_blue;
		background: #fff;
	}
	#fancybox-close {
		right: -52px;
		margin-bottom: 7px;
	}
	#fancybox-title {
		#fancybox-title-float-main {
			color: #000;
		}
	}
	.fancybox-title-float {
		left: 0 !important;
		bottom: 0;
	}
}


@media #{$small-only} {
	.products_list {
		.product {
			width: 46%;
			margin: 0 2% 8%;
		}
	}
	.colour_selector .label { display: block; }
	.type_selector  {
		.column:first-child {
			padding-right: 10px;
		}
		.column:last-child {
			padding-left: 10px;
		}
	}
}