.top_section {
	@extend %section_padding;
	background-color: $bg_main_gray;
	.map_1,
	.map_2 {
		position: relative;
		border: 4px solid $bg_main_blue;
		margin-top: 36px;
		.zoom {
			position: absolute;
			bottom: 0;
			cursor: pointer;
		}
	}
	.statement {
		display: block;
		margin: 40px 0 0;
		font-style: normal;
	}
	.factory_name {
		font-size: 133.334%;
		font-weight: 600;
		line-height: 355.556%;
	}
}

.adress {
	li {
		padding-left: 60px;
		line-height: 355.556%;
		&.phone {
			background: url(../content/icon_phone.png) no-repeat;
		}
		&.email {
			background: url(../content/icon_email.png) no-repeat;
		}
	}
}

.regional_managers {
	@extend %section_padding;
}

.region_img {
	vertical-align: middle;
}

.regional_managers_details {
	position: relative;
	font-size: 88.889%;
	.person,
	.post,
	.phone,
	.internal_phone {
		display: block;
		margin: 20px 0;
		line-height: 150%;
		font-style: normal;
		font-weight: 400;
	}
	.post {color: $color_main_orange; }
}

.checkboxes {
	display: inline-block;
	overflow: hidden;
	width: 100%;
	margin: 0 -12px;
	font-size: 0;
	line-height: 58px;
	.checkbox {
		font-size: 18px;
		margin: 0 12px;
		+ .checkbox {

		}
	}
}
.checkbox {
	display: inline-block;
	input[type="checkbox"] {
		display: none;
		&:checked ~ .box {
			background: url(../img/tick.png) no-repeat center;
		}
	}
	.box {
		display: inline-block;
		width: 20px; height: 20px;
		border: 1px solid $bg_main_blue;
	}
}

@media #{$medium-only} {
	.checkboxes {
		.checkbox {
			font-size: 14px;
		}
	}
}

@media #{$small-only} {
	.checkboxes {
		.checkbox {
			font-size: 14px;
		}
	}
}