.questions,
.ask_question {
	padding-top: 50px;
	.s_title {
		line-height: 2.5;
	}
}


.questions {
	background: url(../img/say_cloud.png) center 40px no-repeat;
	.question {
		margin: 25px 0;
		font-size: 133.333%;
		@include transition(all 0.3s ease 0s);
		.title,
		.answer { display: block; }
		.title {
			font-weight: 400;
			cursor: pointer;
			&:before {
				content: '+';
				position: relative;
				display: inline-block;
				width: 35px;
				border: 2px solid $bg_main_blue;
				margin-right: 25px;
				line-height: 133.333%;
				font-weight: 300;
				color: $color_main_orange;
				text-align: center;
				cursor: pointer;
				@include transition(all 0.3s ease 0s);
			}
		}
		.answer {
			display: none;
			padding-left: 10%;
			font-size: 75%;
			font-weight: 300;
			@include transition(all 0.3s ease 0.3s);
		}
		&.opened {
			.title:before {
				@include transform(rotate(45deg));
			}
			.answer {
				display: block;
			}
		}
	}
}

.ask_question  {
	background: url(../img/question.png) center 10% no-repeat;
}
