@import 'factory_scheme';

.p_home {
	.features {
		background-color: $bg_main_gray;
		
	}
	.feature {
		text-align: center;
		&.opened img {
			@include opacity(1);
			@include transform(translateY(0));
		}
		.feature_image {
			padding: 35% 20% 20%;
			margin: 0 auto;
			margin-bottom: -30px;
			background: url(../images/orange-drop.svg) no-repeat center top;
			@include background-size(contain);
		}
		img {
			width: 70%;
			@include transform(translateY(-50px));
			@include opacity(0);
			@include transition(all 0.4s ease-out);

		}
		span {
			display: block;
			padding: 0 50px;
		}
	}
}

.announcement {
	@extend %section_padding_top;
	@extend %section_padding_bottom;
	text-align: center;

	.s_title {
		display: block;
    	margin-top: 15%;
	}

	.button {
		display: block;
		max-width: 340px;
		background-color: $bg_main_blue;
		color: #fff;
		margin:  20px auto;
		line-height: 1.5;

		&:hover {
			background-color: $color_main_orange;
		}
	}

	.description {
		font-size: 15px;
		display: block;
		max-width: 430px;
		margin: 20px auto;
	}
}

.home_promo_section {
	background-color: #fff;
	color: $bg_main_blue;
	.home_promo {
		@extend %section_padding;
		text-align: center;
		img {
			max-width: 200px;
			margin: 0 0 10%;
		}
		span { display: block; }
		a {
			line-height: 170%;
			color: $bg_main_blue;
			white-space: normal;
			&:hover { color: #fff; }
		}
		&:first-child {
			background-color: $color_main_orange;
			a { color: #fff; }
		}
		.description {
			margin: 0 10%;
			text-align: left;
		}

		&.calc {
			background-image: url(../img/calculator-bg.png);
			background-position: top center;
			background-repeat: no-repeat;
		}
	}
}

.home_news_list.news_list {
	@extend %drop;
	background-repeat: repeat-y;
	background-position: center;
	.slick-prev,
	.slick-next {
		border: 0;
		@include transition(all 0.1s ease-out);
		&:before {
			font-size: 50px;
			color: $bg_main_blue;
			@include transition(all 0.1s ease-out);
		}
	}
	.slick-prev { right: 45px; }
	.slick-next { right: 2px; }
	.slick-prev:hover  { @include transform(translateX(-2px)); }
	.slick-next:hover  { @include transform(translateX(2px));  }
	.news { margin: 12px; }
}

.contacts {
	position: relative;
	color: #fff;
	background-color: transparent;
	@include transition(all 0.1s ease-out);
	iframe {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%; height: 100%;
	}
	.contacts_content {
		@extend %section_padding;
		position: relative;
		z-index: 2;
		padding-left: 60px;
		padding-right: 60px;
		background: url(../images/back-map.png) no-repeat center right;
		@include background-size(100% 100%);
		img {
			display: block;
			margin: 0 10%;
			width: 80%
		}
		> small {
			display: block;
			width: 50%;
		}
	}
	.close_button {
		@extend %sqrt_button;
		z-index: 1;
		float: right;
		text-align: center;
		&:after {
			content: 'x';
			line-height: 40px;
			color: $color_main_orange;
		}
	}
}

.contact_list {
	@extend %section_padding;
	position: absolute;
	z-index: 1;
	display: none;
	top: 0;	bottom: 0;
	right: 0; left: 0;
	padding-left: 50%;
	padding-right: 60px;
	color: $bg_main_blue;
	background-color: rgba(255, 255, 255, 0.7);
	.popup_wrapper {
		position: absolute;
		z-index: 4;
		width: auto;
		height: auto;
		left: 50%; right: 60px;
		padding: 50px 20px 20px;
	}
	.close_popup {
		color: #fff;
		background: $color_main_orange;
	}
	.description {
		padding-left: 0;
		li {
			position: relative;
			padding-left: 25px;
			border: 0;
			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 0; bottom: 0;
				width: 20px;
				@include background-size(contain);
			}
		}
		.place:before {
			background: url(../content/icon_place_2.png) no-repeat center;
		}
		.phone {
			&:before {
				background: url(../content/icon_phone_2.png) no-repeat center;
			}
			+ .phone:before {
				width: 0;
			}
		}
	}
	.page_overlay {
		position: absolute;
		z-index: 3;
		width: auto;
		height: auto;
		bottom: 0;
		right: 0;
	}
	.content {
		position: relative;
		clear: both;
		overflow: auto;
		max-height: 90%;
		.place {
			float: left;
			width: 50%;
		}
		.name {
			display: block;
			padding-left: 50%;
		}
	}
	.s_title {
		float: left;
		margin-top: 0;
		line-height: 45px;
	}
	li {
		line-height: 45px;
		+ li {
			border-top: 1px solid $bg_main_blue;
		}
	}
}

@media #{$small-only} {
	.contacts {
		iframe {
			position: static;
			display: block;
			min-height: 320px;
		}
		.contacts_content { background: $bg_main_blue; }
	}
	.contact_list {
		top: auto;
		height: 320px;
		padding: 10px;
		.content { max-height: 175px; }
		.popup_wrapper {
			left: 30px; right: 30px;
			top: 30px;
			margin-top: 0;
		}
	}
}

.map-wrapper {

	position: relative;

	.icon-place {
		position: absolute;
		width: 7%;
		height: 16%;
		background: url(../content/icon_place_big.png);
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
}

.left-labels {
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 2;
	margin-top: 120px;

	a {
		font-size: 14px;
		line-height: 14px;
		padding: 5px 8px;
		color: #fff;
		display: inline-block;
		margin: 0 3px;

		&.label-shop {
			background-color: $color_main_orange;

			&:hover {
				background-color: $color_main_blue;
			}
		}

		&.label-leader {
			background-color: $color_main_blue;

			&:hover {
				background-color: $color_main_orange;
			}
		}
	}

	&.rotate {
		display: inline-block;
		-webkit-transform: rotate(-90deg);
	  -moz-transform: rotate(-90deg);
	  -ms-transform: rotate(-90deg);
	  -o-transform: rotate(-90deg);
	  transform: rotate(-90deg);

	  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
	  -webkit-transform-origin: 0 0;
	  -moz-transform-origin: 0 0;
	  -ms-transform-origin: 0 0;
	  -o-transform-origin: 0 0;
	  transform-origin: 0 0;
	}
}