.news_item {
	em { font-size: 133.33333%; }
}

.news_nav {
	a {
		display: block;
		padding: 30px;
		border: 2px solid transparent;
		color: $bg_main_blue;
		&.active {
			border-color: inherit;
			background-color: $bg_main_white;
		}
		&:hover {
			border-color: inherit;
			text-decoration: none;
		}
		.b_title {
			margin: 0;
			font-size: 100%;
		}
	}
}

.news_list {
	position: relative;
	padding-top: 100px;
	.news {
		position: relative;
		border: 2px solid transparent;
		margin: 15px 0;
		vertical-align: top;
		background-color: #fff;
		&:hover {
			border-color: $bg_main_blue;
			.open_news:after {
				display: block;
			}
		}
		iframe {
			display: block;
		}
	}
	.news_content {
		padding: 30px;
	}
	.b_title {
		margin: 0;
		font-weight: 400;
		a {
			color: inherit;
			text-decoration: none;
		}
	}
	.news_description {
		display: block;
		margin-top: 30px;
		font-weight: 300;
	}
	.article_img {
		position: relative;
		overflow: hidden;
		padding-top: 60%;
		iframe,
		img {
			position: absolute;
			left: 0; right: 0;
			top: 0; bottom: 0;
			width: 100%;
		}
		iframe {
			height: 100%;
			z-index: 2;
		}
	}
	.open_news:after {
		content: '+';
		position: absolute;
		display: none;
		line-height: 43px;
		width: 45px;
		border: 2px solid $bg_main_blue;
		font-weight: 300;
		text-align: center;
		color: #fff;
		background-color: $color_main_orange;
		bottom: -2px;
		right: -2px;
	}
}