@import url(http://fonts.googleapis.com/css?family=Roboto:100,400,300,500&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic);

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
	font-family: 'Roboto', sans-serif;
}
.row {
	margin: 0 !important;
}

body {
	padding: 0;
}

#main {
	width: 100%;
	margin: 0 auto;
	padding: 15px;
	background: url(../img/blue_bg.jpg);
	background-size: cover;
}

.full-height {
	height: 100vh;
}

.logo {
	margin: 25px auto;
	display: block;
	width: 100%;
	max-width: 150px;
	height: auto;
}

#main h1 {
	font-size: 4em;
	text-align: center;
	font-weight: 700;
	color: #fff;
	font-family: 'PT Sans Narrow', sans-serif;
}

#main p {
	max-width: 800px;
	margin: 3em auto;
	color: #fff;
	font-size: 1.9em;
	font-weight: 100;
	text-align: center;
	font-family: 'PT Sans Narrow', sans-serif;
}

a.more {
	text-align: center;
	font-size: 1.2em;
	margin: 150px auto 0;
	padding: 7px 5px;
	display: block;
	border: 1px solid #fff;
  	border-radius: 4px;
  	width: 150px;
  	color: #fff;
  	font-weight: 300;
}
	a.more:hover {
		color: #00447d;
		text-decoration: none;
		background: #fff;
	}


.register {
	text-align: center;
	font-size: 1.2em;
	margin: 50px auto;
	padding: 7px 5px;
	display: block;
	border: 1px solid #00447d;
  	border-radius: 4px;
  	width: 200px;
  	color: #00447d;
  	font-weight: 300;
  	background: #fff;
}
	.register:hover {
		color: #fff;
		text-decoration: none;
		background: #00447d;
	}



/* ===== MORE ===== */

#more {
	background: #E4E4E4;
	padding: 50px 0;
}
#more h2 {
    color: #fff;
    font-weight: 100;
}

#more h3 {
	color: #F64646;
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 700;
	text-align: center;
	font-size: 2em;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.57);
}

#more p {
	color: #545454;
	text-align: center;
	font-size: 1.4em;
	font-family: 'PT Sans Narrow', sans-serif;
}


/* ========== DETAILS ========= */
#details h2 {
	color: #828282;
	margin-top: 1.3em;
	font-size: 2.8em;
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 700;

}

#details ul {
	padding: 0;
	margin-top: 25px;
	list-style: none;
}

#details p {
	color: #828282;
	font-size: 1.4em;
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 300;
}

/* ========== FOOTER ========== */
#footer {
	background: #2c3e50;
	height: 200px;
	padding: 80px 0;
}

#footer h4 {
	color: #fff;
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
}
.madeIn {
	text-align: center;
	font-family: 'PT Sans Narrow', sans-serif;
}
.madeIn img {
	width: 100px;
	height: auto;
}
.madeIn span {
	color: #fff;
}
/*
.item {
	height: calc( 100% + 30px );
	margin-top: -15px;
	margin-bottom: -15px;
	padding: 15px 0 15px;
}

.item-1 {
	width: calc(33.33333333% + 15px);
	margin-left: -15px;
	padding-left: 15px;
}

.item-2 {
	background: #e8b610;
}

.item-3 {
	background: #00447d;
	width: calc(33.33333333% + 15px);
	margin-right: -15px;
	padding-right: 15px;
}

.item-container {
	padding: 50px 40px 0 60px;
}

h3 {
	width: calc(100% + 75px);
	margin: 10px 0;
	margin-left: -75px;
	background: #00447d;
	font-size: 16px;
	text-align: right;
	color: #fff;
	padding: 10px 10px 10px 0;
	height: 40px;
	text-transform: uppercase;
	font-weight: 400;
}*/


/* Callouts */

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #fff;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout ul {
	color: #fff;
	font-weight: 300;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}





