@CHARSET "UTF-8";

body{font-family: Tahoma, Verdana, Arial; margin: 0 0 0 0;font-size: 12px;color: #364143;background-color:#FFFFFF;text-align:center;}




input.greenButton {
	background-color:#438e3b !important;
}

input.redButton {
	background-color:#b22217 !important;
}


textarea {
	padding-left: 3px;
	border: 1px solid #8B999D;
	border-radius: 3px;
	box-shadow: 0px 1px 0px rgba(170, 167, 167, 0.49), 0px 1px 1px #CDCFCF inset;
}

input.button{
	/*font-family: Tahoma, Verdana, Arial;font-size: 11px;height:20px;
	background-color:#575757;
	color:#FFFFFF;
	font-weight:bold;
	border:1px solid #ccc;
	width:140px;*/
	border: none;
	cursor: pointer;
}
select{font-family: Tahoma, Verdana, Arial;font-size: 12px; border:1px solid #CCCCCC; height:22px; padding: 2px;}

option:DISABLED { color: #b22217; background-color: #eee; }

/*a:link, a:visited {font-family: Tahoma, Verdana, Arial;color: #697679;text-decoration:none;}
a:hover {font-family: Tahoma, Verdana, Arial;color: #FF9900;text-decoration:underline;}*/
.a2:link, .a2:visited {font-family: Tahoma, Verdana, Arial;font-size: 12px;color: #FFFFFF;text-decoration:none;}
.a2:hover {font-family: Tahoma, Verdana, Arial;font-size: 12px;color: #FFFFFF;text-decoration:underline;}


a.rowheader:link, a.rowheader:visited {color: #FFFFFF;text-decoration:none;}
a.rowheader:hover {color: #FFFFFF;text-decoration:underline;}

.blBox	{	/* background-color: #FFFFFF;*/	border: solid #CCCCCC 1px;	}
.blBox div	{	position: relative;	overflow: auto;		height: 105px;}



.editinfo { color: blue; }
.editwarn { color: red; font-weight: bold; }

.SQLDump span.time { font-style: italic; padding-right: 10px; }
.SQLDump span.text { font-style: normal; }

.deleteContent {
	width: 980px;
	text-align: left;
}

.editTable, .editTableNohover {
	border:1px solid #CCCCCC; 
	padding:25px; 
	background-color: #F6F6F6;
	width: 980px;
}

.editTable tr:hover {
	background-color: #ddd;
}

.editTable td, .editTableNohover td {
	border: 0;
	border-bottom: 1px dotted #ccc;	
}

.errorBlock {
	color: red;
	width: 100%;
	float: left;
	font: 12px red Arial;
}

.navMenu {
	border:0px; 
	background-color: #f1eff0;
}
.navMenu td {
	padding: 0px;
	white-space: nowrap;
	border: 1px solid #aaa;
}

.navMenu td:HOVER, .tab:hover { background-color: #ca4838; color: white; }
.navMenu a { color: black; text-decoration: none; }
.navMenu a:VISITED { color: black; }
.navMenu a:HOVER { color: black; }

.headerNavigation {
	/*border-top:1px solid #9F9F9F;
	list-style:none;
	height:22px;
	margin-bottom:10px;*/	
}
	.headerNavigation li {
		float:left;
		padding:2px 4px;
	}
	
	.headerNavigation li a { text-decoration: none; color: white;}
	.headerNavigation li a:hover { color: #f95b58; }


.tab{
	padding: 2px;
	border: 0px;
}

.currentMenu td { border: 0; padding: 0; margin: 0; }
.currentMenu .tab{
	color: white !important;
	background-color: #a94838;
}

/*paginator
.paginator {
	list-style: none;
	line-height: 1.2;
	text-align: center;
	margin: 1.75em 0 1.75em 0;
}

.paginator li {
	display: -moz-inline-box;
	display: inline-block; 
	$display: inline;
	zoom: 1;
	margin: 0 1px;
}

.paginator li:hover {
	background-color: #003699;
}

.paginator li:hover a {
	color: #fff;
}

.paginator li a {
	display: block; 
	$display: inline;
	zoom: 1;
	padding: 4px 7px 5px 7px;
}

.paginator li a:hover {
	color: #fff;
	background-color: #013398;
}

.paginator li.current {
	color: #900;
	padding: 4px 7px 5px 7px;
	vertical-align: top;
	background-color: #acbede;
	color: #003699;
	text-decoration: underline;
}

*/

/* ----------------------------------------- */
body {
	background: #e3f0f2 url('/tpl/admin_img/bg.png');
}
header {
	background: #4c4c4d url('/tpl/admin_img/header_bg.png');
	height: 64px;
	position: relative;
	width: 961px;
	margin-left: -1px;
}
.wrapper {
	width: 960px;
	margin: 0 auto;
}
.header__tabs {
	height: 34px;
	width: 100%;
	position: absolute;
	bottom: 0;
}
.header__tabs__home {
	float: left;
}
.header__tabs__list {
	float: left;
}
.header__tabs__item, ._act__header__tabs__item {
	display: inline-block;
}
.header__tabs__exit {
	float: right;
}

.header__buttons {
	height: 52px;
	margin-left: 11px;
}
.header__sep {
	height: 10px;
	background: #e6e6e6;
	border: 1px solid #b3b3b3;
}
.header__buttons__href {
	float: left;
	position: relative;
	top: 27px;
	padding: 2px 0px 0px 21px;
	color: #fff;
	text-decoration: none;
	font-size: 11px;
	height: 16px;
	display: block;
	margin-left: 20px;
	margin-top: -2px;
}
.header__buttons__home {
	float: left;
	height: 26px;
	width: 69px;
	display: block;
	background: url(/tpl/admin_img/site_btn.png);
	position: relative;
	top: 18px;
	font-size: 16px;
	font-weight: bold;
	color: #fdfdfd !important;
	font-family: Calibri !important;
	padding-top: 8px;
	text-decoration: none;
}
._act__header_buttons__href {
	display: block;
	float: left;
	position: relative;
	top: 18px;
	height: 28px;
	background: white;
	padding: 7px 14px 0 14px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	margin-left: 10px;
	font-size: 16px;
	font-weight: bold;
	color: #2e2e2e !important;
	font-family: Calibri !important;
	text-decoration: none;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75);
}
.header__buttons__admins {
	background: url(/tpl/admin_img/header_adm.png) no-repeat left 0px;
}
.header__buttons__settings {
	background: url(/tpl/admin_img/header_gear.png) no-repeat left 2px;
}
.header__buttons__exit {
	float: right;
	margin-right: 11px;
	position: relative;
	top: 18px;
}
.header__buttons__exit__name {
	float: left;
	padding: 5px 10px 6px 20px;
	color: white;
	text-decoration: none;
	background: #2a3446;
	background: -moz-linear-gradient(top, #2a3446 0%, #202836 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2a3446), color-stop(100%,#202836));
	background: -webkit-linear-gradient(top, #2a3446 0%,#202836 100%);
	background: -o-linear-gradient(top, #2a3446 0%,#202836 100%);
	background: -ms-linear-gradient(top, #2a3446 0%,#202836 100%);
	background: linear-gradient(to bottom, #2a3446 0%,#202836 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a3446', endColorstr='#202836',GradientType=0 );
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.28) inset;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	border: 1px solid #383c40;
	border-right: 1px solid #191f2a;
	font-size: 12px;
	-webkit-transition: 0.3s ease;
}
.header__buttons__exit__name__p {
	margin: 0;
	padding-left: 24px;
	background: url(/tpl/admin_img/header_adm.png) no-repeat left 0px;
}
._btn__header__buttons__exit {
	width: 38px;
	height: 27px;
	display: block;
	float: left;
	background: url('/tpl/admin_img/exit_btn.png');
}
._btn__header__buttons__exit:hover {
	background: url('/tpl/admin_img/exit_btn_hover.png');
}
._btn__header__buttons__exit:active {
	background: url('/tpl/admin_img/exit_btn_active.png');
}

.leftMenu {
	width: 86px;
	background-image: url('/tpl/admin_img/left_menu_top.png'), 
					  url('/tpl/admin_img/left_menu.png');
	background-position: center top, center center;
	background-repeat: no-repeat, repeat;
	padding-top: 10px;
	padding-left: 10px;
}
.leftMenu__item, .leftMenu__item__deep {
	position: relative;
}
.leftMenu__item__href {
	width: 76px;
	height: 68px;
	display: block;
	text-decoration: none;
	color: #FFF;
	font-size: 11px;
	line-height: 13px;
}
.leftMenu__item:hover, .leftMenu__item__deep:hover, .leftMenu__item__active {
	background: url('/tpl/admin_img/left_menu_selected.png') no-repeat;
}
.leftMenu__item.leftMenu__item__deep:hover:after {
	content: "";
	width: 5px;
	height: 8px;
	background-image: url('/tpl/admin_img/arrow.png');
	position: absolute;
	right: 5px;
	top: 30px;
}
.leftMenu__item__href__img {
	margin: 0px auto 3px auto;
}
.leftMenu__submenu {
	position: absolute;
	left: 86px;
	top: 10px;
	border: 1px solid #30383E;
	width: 254px;
	z-index: 1000;
	text-align: left;
}
.leftMenu__submenu__item, .leftMenu__submenu__2__item {
	border-top: 1px solid #7F868C;
	border-bottom: 1px solid #343C41;
	padding: 7px 0 11px 20px;
	width: 234px;
	position: relative;
}
.leftMenu__submenu__item {
	background: url('/tpl/admin_img/left_submenu1.png');
}
.leftMenu__submenu__2__item {
	background: url('/tpl/admin_img/left_submenu2.png');
}
.leftMenu__submenu__item:hover {
	background: url('/tpl/admin_img/left_submenu1_hover.png');
	background-position: -1px center;
}
.leftMenu__submenu__2__item:hover {
	background: url('/tpl/admin_img/left_submenu2_hover.png');
	background-position: -1px center;
}
.leftMenu__submenu__item:last-child, .leftMenu__submenu__2__item:last-child {
	border-bottom: none;
}
.leftMenu__submenu__item:first-child, .leftMenu__submenu__2__item:first-child {
	border-top: none;
}
.leftMenu__submenu__item__href, .leftMenu__submenu__2__item__href {
	text-decoration: none;
	color: #FFF;
	font-size: 13px;
	display: block;
}
.leftMenu__submenu__item__arrow {
	position: absolute;
	right: 11px;
	bottom: 10px;
	color: #FFF;
}
.leftMenu__submenu__2 {
	position: absolute;
	left: 254px;
	top: 10px;
	border: 1px solid #30383E;
	width: 254px;
	z-index: 1000;
	text-align: left;
}

.header__breadcrumb {
	text-align: left;
}

.header__edit {
	text-align: left;
}

.header__edit {
	text-align: left;
	width: 806px;
	height: 33px;
	border: 1px solid #FFF;
	border-bottom: none;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding: 6px 13px;
	background: rgb(238,242,243); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(238,242,243,1) 0%, rgba(213,224,226,1) 0%, rgba(238,242,243,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,242,243,1)), color-stop(0%,rgba(213,224,226,1)), color-stop(100%,rgba(238,242,243,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(238,242,243,1) 0%,rgba(213,224,226,1) 0%,rgba(238,242,243,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(238,242,243,1) 0%,rgba(213,224,226,1) 0%,rgba(238,242,243,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(238,242,243,1) 0%,rgba(213,224,226,1) 0%,rgba(238,242,243,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(238,242,243,1) 0%,rgba(213,224,226,1) 0%,rgba(238,242,243,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eef2f3', endColorstr='#eef2f3',GradientType=0 ); /* IE6-9 */
}

._btn__header__add {
	float: left;
	display: block;
	width: 134px;
	height: 30px;
	background: url('/tpl/admin_img/add_button.png') no-repeat;
	line-height: 32px;
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
	padding-left: 29px;
	text-shadow: 0px 1px 0px rgba(98, 118, 19, 0.65);
}
._btn__header__add:hover {
	background: url('/tpl/admin_img/add_button_hover.png') no-repeat;
}
._btn__header__add:active {
	background: url('/tpl/admin_img/add_button_active.png') no-repeat;
}
.header__search__input {
	width: 231px;
	height: 21px;
	background: url('/tpl/admin_img/search_bg.png') repeat-x;
	outline: none;
	border: 1px solid #7F8586;
	border-radius: 3px;
	padding-left: 11px;
	color: #FFF;
	font-size: 12px;
	padding-right: 23px;
}
._btn__header__search {
	width: 23px;
	height: 21px;
	position: absolute;
	right: 0;
	top: 0px;
	background: url('/tpl/admin_img/search_btn.png');
	cursor: pointer;
}
._btn__header__search:hover {
	background: url('/tpl/admin_img/search_btn_hover.png');
}
._btn__header__search:active {
	background: url('/tpl/admin_img/search_btn_active.png');
}
.table__head {
	background: rgb(238,242,243); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(238,242,243,1) 0%, rgba(198,210,214,1) 0%, rgba(185,194,197,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,242,243,1)), color-stop(0%,rgba(198,210,214,1)), color-stop(100%,rgba(185,194,197,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(238,242,243,1) 0%,rgba(198,210,214,1) 0%,rgba(185,194,197,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(238,242,243,1) 0%,rgba(198,210,214,1) 0%,rgba(185,194,197,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(238,242,243,1) 0%,rgba(198,210,214,1) 0%,rgba(185,194,197,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(238,242,243,1) 0%,rgba(198,210,214,1) 0%,rgba(185,194,197,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eef2f3', endColorstr='#b9c2c5',GradientType=0 ); /* IE6-9 */
	color: #2e2e2e;
	font-size: 11px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.65);
	height: 34px;
}
.table__head__item {
	border-left: 1px solid #c0c2c3;
	border-right: 1px solid #7e7e7f;
	padding: 0px 10px;
}
.table__head__item:first-child {
	border-left: none;
}
.table__head__item:last-child {
	border-right: none;
}
.table__item__odd {
	background: #dde1e8;
}
.table__item__even {
	background: #fdfdfd;
}
.table__item__odd td, .table__item__even td, .table__item td {
	padding: 20px 10px;
}
.table__item__href__image {
	display: block
}

.table__main {
	color: #000;
	font-size: 11px;
	text-align: center;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.33);
	border-radius: 3px;
}

.table__item__odd:hover, .table__item__even:hover, .table__item:hover {
	background: rgb(238,242,243); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(238,242,243,1) 0%, rgba(23,144,213,1) 0%, rgba(30,168,225,1) 50%, rgba(30,168,225,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,242,243,1)), color-stop(0%,rgba(23,144,213,1)), color-stop(50%,rgba(30,168,225,1)), color-stop(100%,rgba(30,168,225,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(238,242,243,1) 0%,rgba(23,144,213,1) 0%,rgba(30,168,225,1) 50%,rgba(30,168,225,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(238,242,243,1) 0%,rgba(23,144,213,1) 0%,rgba(30,168,225,1) 50%,rgba(30,168,225,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(238,242,243,1) 0%,rgba(23,144,213,1) 0%,rgba(30,168,225,1) 50%,rgba(30,168,225,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(238,242,243,1) 0%,rgba(23,144,213,1) 0%,rgba(30,168,225,1) 50%,rgba(30,168,225,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eef2f3', endColorstr='#1ea8e1',GradientType=0 ); /* IE6-9 */
	outline: 1px solid #75787b;
	cursor: pointer;
}

.table__tabs {
	text-align: left;
}

.table__tabs__item {
	display: inline-block;
	background: url('/tpl/admin_img/tabs.png');
	padding: 6px 16px 4px 16px;
	border: 1px solid #c7ccce;
	border-bottom: none;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	margin-right: -1px;
	font-size: 12px;
}
._act__table__tabs__item {
	background: url('/tpl/admin_img/tabs_selected.png');
	padding: 8px 16px 4px 16px;
	border: 1px solid #c3cacb;
	border-bottom: none;
	position: relative;
	top: 1px;
	
}
.table__tabs__sep {
	height: 7px;
	background: url('/tpl/admin_img/tabs_sep.png');
	border: 1px solid #c7ccce;
}
.table__tabs__item__href {
	text-decoration: none;
	color: #4f5e68;;
}
._act__table__tabs__item .table__tabs__item__href {
	color: #000;
}

.table__main__item {
	text-align: left;
	margin-bottom: 7px;
}
.table__main__item__title {
	font-size: 12px;
	font-weight: bold;
	padding: 5px 0;
}
.table__main__item__prop {
	line-height: 26px;
}

SECTION.table__main {
	background: #fefefe;
	border: 1px solid #d2dadb;
	border-top: none;
	padding: 12px 10px 12px 16px;
}

input.textbox {
	border: 1px solid #8b999d;
	height: 19px;
	padding-left: 4px;
	border-radius: 3px;
	box-shadow: 0px 1px 0px rgba(170, 167, 167, 0.49), 0px 1px 1px #cdcfcf inset;
	margin-top: 4px;
}
.table__main__item input[type = "checkbox"] {
	margin-top: 6px;
}

.table__main__gallery__item {
	width: 230px;
	height: 304px;
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
	border: 1px solid #BCBDBD;
	border-radius: 3px;
	background: rgb(238,242,243); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(238,242,243,1) 0%, rgba(249,249,251,1) 0%, rgba(208,218,222,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,242,243,1)), color-stop(0%,rgba(249,249,251,1)), color-stop(100%,rgba(208,218,222,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(238,242,243,1) 0%,rgba(249,249,251,1) 0%,rgba(208,218,222,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(238,242,243,1) 0%,rgba(249,249,251,1) 0%,rgba(208,218,222,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(238,242,243,1) 0%,rgba(249,249,251,1) 0%,rgba(208,218,222,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(238,242,243,1) 0%,rgba(249,249,251,1) 0%,rgba(208,218,222,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eef2f3', endColorstr='#d0dade',GradientType=0 ); /* IE6-9 */
	padding: 10px 12px;
	position: relative;
}

.table__main__gallery__item:nth-child(3n) {
	margin-right: 0px;
}

._btn__gallery__add {
	display: block;
	width: 62px;
	height: 62px;
	background: url('/tpl/admin_img/add_img.png');
	cursor: pointer;
	transition: 0.1s ease;
	margin: 81px auto 16px auto;
}
._btn__gallery__add:hover {
	background: url('/tpl/admin_img/add_img_hover.png');
}
._btn__gallery__add:active {
	background: url('/tpl/admin_img/add_img_active.png');
}

.table__main__gallery__item__imageholder {
	width: 230px;
	height: 200px;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
}
.table__main__gallery__item__config {
	text-align: left;
}
._btn__green, ._btn__grey {
	position: relative;
	padding: 0px 8px 0px 9px;
	text-decoration: none;
	font-size: 12px;
	line-height: 30px;
	display: inline-block;
	margin: 0 10px;
}
._btn__green {
	color: #FFF;
	background: url('/tpl/admin_img/green_btn.png');
	text-shadow: 0px 1px 0px rgba(98, 118, 19, 0.65);
}
._btn__grey {
	color: #4f5e68;
	background: url('/tpl/admin_img/grey_btn.png');
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.65);
}
._btn__green:before, ._btn__grey:before {
	content: '';
	position: absolute;
	left: -3px;
	width: 4px;
	height: 30px;
}
._btn__green:after, ._btn__grey:after {
	content: '';
	position: absolute;
	right: -4px;
	width: 4px;
	height: 30px;
}
._btn__green:before {background: url('/tpl/admin_img/green_btn_left.png');}
._btn__green:after {background: url('/tpl/admin_img/green_btn_right.png');}

._btn__grey:before {background: url('/tpl/admin_img/grey_btn_left.png');}
._btn__grey:after {background: url('/tpl/admin_img/grey_btn_right.png');}

._btn__green:hover { background: url('/tpl/admin_img/green_btn_hover.png'); }
._btn__green:hover:before { background: url('/tpl/admin_img/green_btn_left_hover.png'); }
._btn__green:hover:after { background: url('/tpl/admin_img/green_btn_right_hover.png'); }

._btn__green:active { background: url('/tpl/admin_img/green_btn_active.png'); }
._btn__green:active:before { background: url('/tpl/admin_img/green_btn_left_active.png'); }
._btn__green:active:after { background: url('/tpl/admin_img/green_btn_right_active.png'); }

._btn__grey:hover { background: url('/tpl/admin_img/grey_btn_hover.png'); }
._btn__grey:hover:before { background: url('/tpl/admin_img/grey_btn_left_hover.png'); }
._btn__grey:hover:after { background: url('/tpl/admin_img/grey_btn_right_hover.png'); }

._btn__grey:active { background: url('/tpl/admin_img/grey_btn_active.png'); }
._btn__grey:active:before { background: url('/tpl/admin_img/grey_btn_left_active.png'); }
._btn__grey:active:after { background: url('/tpl/admin_img/grey_btn_right_active.png'); }


._btn__green {
	position: relative;
	padding: 0px 8px 0px 9px;
	text-decoration: none;
	font-size: 12px;
	color: #FFF;
	background: url('/tpl/admin_img/green_btn.png');
	line-height: 30px;
	text-shadow: 0px 1px 0px rgba(98, 118, 19, 0.65);
	display: inline-block;
}
._btn__green:before {
	content: '';
	position: absolute;
	left: -3px;
	background: url('/tpl/admin_img/green_btn_left.png');
	width: 4px;
	height: 30px;
}
._btn__green:after {
	content: '';
	position: absolute;
	right: -4px;
	background: url('/tpl/admin_img/green_btn_right.png');
	width: 4px;
	height: 30px;
}
._btn__green:hover { background: url('/tpl/admin_img/green_btn_hover.png'); }
._btn__green:hover:before { background: url('/tpl/admin_img/green_btn_left_hover.png'); }
._btn__green:hover:after { background: url('/tpl/admin_img/green_btn_right_hover.png'); }

._btn__green:active { background: url('/tpl/admin_img/green_btn_active.png'); }
._btn__green:active:before { background: url('/tpl/admin_img/green_btn_left_active.png'); }
._btn__green:active:after { background: url('/tpl/admin_img/green_btn_right_active.png'); }

.table__item__image {
	max-width: 170px;
}

.table__main__videoUpload__textarea {
	border-radius: 0;
	box-shadow: none;
	border: 1px solid #D0D0D0;
}

.table__main__videoUpload, .table__main__videoInfo {
	text-align: left;
	padding: 7px 12px 9px 12px;
	border-radius: 3px;
	border: 1px solid #C0C1C1;
	background: rgb(238,242,243); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(238,242,243,1) 0%, rgba(249,249,251,1) 0%, rgba(208,218,222,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,242,243,1)), color-stop(0%,rgba(249,249,251,1)), color-stop(100%,rgba(208,218,222,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(238,242,243,1) 0%,rgba(249,249,251,1) 0%,rgba(208,218,222,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(238,242,243,1) 0%,rgba(249,249,251,1) 0%,rgba(208,218,222,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(238,242,243,1) 0%,rgba(249,249,251,1) 0%,rgba(208,218,222,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(238,242,243,1) 0%,rgba(249,249,251,1) 0%,rgba(208,218,222,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eef2f3', endColorstr='#d0dade',GradientType=0 ); /* IE6-9 */
}

.table__main__videoInfo__videoholder {
	width: 250px;
	height: 188px;
	overflow: hidden;
}
.table__main__order__item {
	text-align: left;
}
.table__main__order__item__name {
	display: inline-block;
	padding: 10px 10px 9px 15px;
	background: url('/tpl/admin_img/order_bg.png');
	margin-left: -16px;
	border: 1px solid 9ab61f;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	margin-bottom: 4px;
}

.table__main__order__item__name__href {
	color: #2e2e2e;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
	float: left;
	line-height: 16px;
}
.table__main__order__item__title {
	width: 187px;
	color: #2e2e2e;
	font-weight: bold;
	font-size: 12px;
}
.table__main__order__item__descr {
	color: #4f5e68;
	font-size: 12px;
}

.view__site {
	display: inline-block;
	float: right;
	width: 18px;
	height: 16px;
	background: url('/tpl/admin_img/view_site.png');
	margin-left: 10px;
}
footer {
	margin-top: 42px;
	background: url('/tpl/admin_img/footer_sep.png') repeat-x top center;
	width: 854px;
	margin-left: -19px;
	padding: 20px 0 19px 0;
}
.footer__copyright {
	color: #6a6a6a;
	font-size: 11px;
}
.paginator {
	text-align: center;
}
.paginator__item {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 19px;
	font-size: 10px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.paginator__current {
	background: url('/tpl/admin_img/pagin_active.png');
	color: #FFF;
}

.paginator__item__href {
	display: block;
	zoom: 1;
	text-decoration: none;
	color: #4F5E68;
	font-size: 10px;
	background: url(/tpl/admin_img/pagin.png);
	width: 20px;
	height: 20px;
	line-height: 19px;
}

.paginator__next__href {
	background: url('/tpl/admin_img/pagin_right.png');
	text-indent: -9999;
}
.paginator__prev__href {
	background: url('/tpl/admin_img/pagin_left.png');
	text-indent: -9999;
}

.button__save {
	background: url('/tpl/admin_img/save_button.png');
	border: none;
	width: 82px;
	height: 30px;
	text-shadow: 0px 1px 0px rgba(98, 118, 19, 0.65);
	color: #FFF;
	font-size: 12px;
	cursor: pointer;
}
.button__saveList {
	background: url('/tpl/admin_img/saveList_button.png');
	border: none;
	width: 135px;
	height: 30px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.65);
	color: #4F5E68;
	font-size: 12px;
	cursor: pointer;
}
.button__reset {
	background: url('/tpl/admin_img/reset_button.png');
	border: none;
	width: 56px;
	height: 30px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.65);
	color: #4F5E68;
	font-size: 12px;
	cursor: pointer;
}
.button__save:hover {
	background: url('/tpl/admin_img/save_button_hover.png');
}
.button__save:active {
	background: url('/tpl/admin_img/save_button_active.png');
}
.button__saveList:hover {
	background: url('/tpl/admin_img/saveList_button_hover.png');
}
.button__saveList:active {
	background: url('/tpl/admin_img/saveList_button_active.png');
}
.button__reset:hover {
	background: url('/tpl/admin_img/reset_button_hover.png');
}
.button__reset:active {
	background: url('/tpl/admin_img/reset_button_active.png');
}

.gallery_image{
	margin: 5px 0 5px 15px;
}

.gallery_image_title{
	font-size: 14px; 
	width: 340px;
	float: left;
	margin: 2px 0px 2px 0px;
}

.gallery_image_field{
	font-size: 14px; 
	width: 340px;
	float: left;
	margin: 2px 0px 2px 0px;
}

.gallery_image_field span{
	font-size: 12px;
	width: 35px;
	display: inline-block;
}

.gallery_image_field textarea{
	width: 300px;
	height: 50px;
}
