
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;  .
    font: inherit;
    line-height: 14px;
}
input {

}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, time {
    display: block;
}
body {
    line-height: 14px;
    font-family: Calibri, Tahoma, Arial, sans-serif;
    font-size: 16px;
    background: #f0f0f0;
    color: #424347;
    font-weight: normal;
    font-style: normal;
}
a {
    color: #000;
}

.seoText p {
    margin: 10px 0;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
strong {
    font-weight: bold;
}
.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}
.clearfix:after {
    clear: both;
}
.left {
    float: left;
}
.right {
    float: right;
}
.center {
    margin: 0 auto;
}
.posAbs {
    position: absolute;
}
.posRel {
    position: relative;
}
.posFixed {
    position: fixed;
}
.block {
    display: block;
}
.inlineBlock {
    display: inline-block;
}
.inline {
    display: inline;
}
.table {
    display: table;
}
.table-cell {
    display: table-cell;
}
.vertCenter {
    vertical-align: middle;
}
.hidden {
    display: none;
}
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.normal {
    font-style: normal;
    font-weight: normal;
}
.noRepeat {
    background-repeat: no-repeat;
}
.uppercase {
    text-transform: uppercase;
}
.underline {
    text-decoration: underline;
}

.link {
    text-decoration: none;
}
.link:hover {
    text-decoration: underline;
}
.linkN {
    text-decoration: underline;
}
.linkN:hover {
    text-decoration: none;
}

.w960 {
    width: 960px;
}
.w950 {
    width: 950px;
}
.w940 {
    width: 940px;
}
.w780 {
    width: 780px;
}
.w836 {
    width: 836px;
}
.w771 {
    width: 771px;
}
.w700 {
    width: 700px;
}
.w640 {
    width: 640px;
}
.w600 {
    width: 600px;
}
.w584 {
    width: 584px;
}
.w530 {
    width: 530px;
}
.w520 {
    width: 520px;
}
.w512 {
    width: 512px;
}
.w510 {
    width: 510px;
}
.w460 {
    width: 460px;
}
.w450 {
    width: 450px;
}
.w400 {
    width: 400px;
}
.w382 {
    width: 382px;
}
.w380 {
    width: 380px;
}
.w341 {
    width: 341px;
}
.w220 {
    width: 220px;
}
.w172 {
    width: 172px;
}
.w160 {
    width: 160px;
}
.w158 {
    width: 158px;
}
.w150 {
    width: 150px;
}
.w140 {
    width: 140px;
}
.w130 {
    width: 130px;
}
.w106 {
    width: 106px;
}
.h208 {
    height: 208px;
}
.h200 {
    height: 200px;
}
.h146{
    height: 146px;
}
.h135 {
    height: 135px;
}
.h129 {
    height: 129px;
}
.h115 {
    height: 115px;
}
.h102 {
    height: 102px;
}
.h32 {
    height: 32px;
}
.h35 {
    height: 35px;
}
.h45 {
    height: 45px !important;
} 
.h54 {
    height: 54px;
}
.h72 {
    height: 72px;
}
.h61 {
    height: 61px;
}
.h60 {
    height: 60px;
}
.h80 {
    height: 80px;
}
.mTB7 {
    margin: 7px 0;
}
.mT7 {
    margin-top: 7px;
}
.mT8 {
    margin-top: 8px;
}
.m1n {
    margin: -1px;
}
.mT1n {
    margin-top: -1px;
}
.mT10 {
    margin-top: 10px;
}
.mT4 {
    margin-top: 4px;
}
.mT3 {
    margin-top: 3px;
}
.mT2 {
    margin-top: 2px;
}
.mT5 {
    margin-top: 5px;
}
.mT6 {
    margin-top: 6px;
}
.mT9 {
    margin-top: 9px;
}
.mT11 {
    margin-top: 11px;
}
.mT12 {
    margin-top: 12px;
}
.mT13 {
    margin-top: 13px;
}
.mT14 {
    margin-top: 14px;
}
.mT15 {
    margin-top: 15px;
}
.mT16 {
    margin-top: 16px;
}
.mT17 {
    margin-top: 17px;
}
.mT20 {
    margin-top: 20px;
}
.mT21 {
    margin-top: 21px;
}
.mT24n {
    margin-top: -24px;
}
.mT24 {
    margin-top: 24px;
}
.mT26 {
    margin-top: 26px;
}
.mT27 {
    margin-top: 27px;
}
.mT29 {
    margin-top: 29px;
}
.mT30 {
    margin-top: 30px;
}
.mT35 {
    margin-top: 35px;
}
.mT42 {
    margin-top: 42px;
}
.mT51 {
    margin-top: 51px;
}
.mT34 {
    margin-top: 34px;
}
.mT32 {
    margin-top: 32px;
}
.mT31 {
    margin-top: 31px;
}
.mL1 {
    margin-left: 1px;
}
.mL5 {
    margin-left: 5px;
}
.mL7 {
    margin-left: 7px;
}
.mL8 {
    margin-left: 8px;
}
.mL10{
    margin-left: 10px;
}
.mL23 {
    margin-left: 23px;
}
.mL19 {
    margin-left: 19px;
}
.mL20 {
    margin-left: 20px;
}
.mL35 {
    margin-left: 35px;
}
.mL36 {
    margin-left: 36px;
}
.mL38 {
    margin-left: 38px;
}
.mL45 {
    margin-left: 45px;
}
.mL60 {
    margin-left: 60px;
}
.mL76{
    margin-left: 76px;
}
.mL80{
    margin-left: 80px;
}
.mB5 {
    margin-bottom: 5px;
}
.mB10 {
    margin-bottom: 10px;
}
.mB11 {
    margin-bottom: 11px;
}
.mB16 {
    margin-bottom: 16px;
}
.mB18 {
    margin-bottom: 18px;
}
.mB20 {
    margin-bottom: 20px;
}
.mB21 {
    margin-bottom: 21px;
}
.mB26 {
    margin-bottom: 26px;
}
.mB30 {
    margin-bottom: 30px;
}
.mB7 {
    margin-bottom: 7px;
}
.mB31 {
    margin-bottom: 31px;
}
.mB34 {
    margin-bottom: 34px;
}
.mB35 {
    margin-bottom: 35px;
}
.mB40 {
    margin-bottom: 40px;
}
.mR7 {
    margin-right: 7px;
}
.mR10 {
    margin-right: 10px;
}
.mR15 {
    margin-right: 15px;
}
.mR20 {
    margin-right: 20px;
}
.pLR10 {
    padding: 0 10px;
}
.pLR18 {
    padding: 0 18px;
}
.pL10 {
    padding-left: 10px;
}
.pL14 {
    padding-left: 14px;
}
.pL34 {
    padding-left: 34px;
}
.pR10 {
    padding-right: 10px;
}
.pR35 {
    padding-right: 35px;
}
.pT14 {
    padding-top: 14px;
}
.f10 {
    font-size: 10px;
}
.f11 {
    font-size: 11px;
}
.f12 {
    font-size: 12px;
}
.f13 {
    font-size: 13px;
}
.f14 {
    font-size: 14px;
}
.f16 {
    font-size: 16px;
}
.f18 {
    font-size: 18px;
}
.f21 {
    font-size: 21px;
}
.f24 {
    font-size: 24px;
}
.f25 {
    font-size: 25px;
}
.f30 {
    font-size: 30px;
}
.t1n {
    top: -1px;
}
.r66 {
    right: 66px;
}
.c23 {
    color: #232323;
}
.c2e {
    color: #2e2e2e;
}
.c555 {
    color: #555555;
}
.c51 {
    color: #515151;
}
.cFFF {
    color: #fff;
}
.c4B {
    color: #4b4b4b;;
}
.c4c {
    color: #4c4c4c;
}
.c45f {
    color: #4f5e68;
}
.c6d {
    color: #6d6d6d;
}
.c815 {
    color: #856100;
}
.c84 {
    color: #848484;
}
.b3 {
    bottom: 3px;
}
.lh14 {
    line-height: 14px;
}
.lh17 {
    line-height: 17px;
}