

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.main_banner {
    background: url(../img/bg_main.jpg);
    background-size: cover;
    padding: 150px 0;
    color: #fff;
    text-align: center;
}
















